@model IEnumerable<PasaFestWebV2.Models.Entradum>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaCompra)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoEntrada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCompraNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdZonaNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoEntrada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCompraNavigation.IdCompra)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdZonaNavigation.IdZona)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdEntrada">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdEntrada">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdEntrada">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
